<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Login</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="username" label="Benutzername" labelPlacement="floating" placeholder="Benutzername" autocomplete="off"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="password" label="Passwort" type="password" labelPlacement="floating" placeholder="Passwort"></ion-input>
        </ion-item>
        <ion-button color="dark" fill="clear" size="full" (click)="register()">Noch keinen Account?</ion-button>
        <ion-button color="dark" fill="clear" size="full" (click)="resetPw()">Passwort vergessen?</ion-button>
        <ion-button size="full" (click)="login()">Login</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
