ion-tab-bar {
    --color: #fffdfd; /* Tab-Textfarbe */
    --color-selected: #3880ff; /* Tab-Textfarbe, wenn ausgewählt */
    --font-size: 30px; /* Schriftgröße der Tabs */
  }
  
ion-tab-button {
    --font-weight: bold; /* Schriftstärke der Tabs */
  }
  