<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Registrieren</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="username" label="Benutzername" labelPlacement="floating" placeholder="Benutzername"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="email" label="E-Mail" labelPlacement="floating" placeholder="E-Mail"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="password" label="Passwort" type="password" labelPlacement="floating" placeholder="Passwort"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="password" label="Passwort" type="password" labelPlacement="floating" placeholder="Passwort"></ion-input>
        </ion-item>
        <ion-button color="dark" fill="clear" size="full" (click)="login()">Bereits registriert?</ion-button>
        <ion-button size="full" (click)="register()">Registrieren</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>
