<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Aktuelle Schrittanzahl</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h2>{{ steps }}</h2>
    </ion-card-content>
    </ion-card>
  
    <ion-button expand="full" (click)="updateStepCount()">
      Schritte aktualisieren
    </ion-button>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Aktueller Geräuschpegel</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2 *ngIf="currentDecibels !== undefined">{{ currentDecibels.toFixed(2) }} dB</h2>
        <h2 *ngIf="currentDecibels === undefined">Geräuschpegel nicht verfügbar</h2>

      </ion-card-content>
    </ion-card>
  
    <ion-button expand="full" (click)="startNoiseMeter()">Starten</ion-button>
    <ion-button expand="full" color="danger" (click)="stopNoiseMeter()">Stoppen</ion-button>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Durchschnitttlicher Geräuschpegel</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h2>{{ averageNoise }} dB</h2>
      </ion-card-content>
      <ion-button expand="full" routerLink="/noisemeter">Details</ion-button>
    </ion-card>
  
</ion-content>