<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="success">Reset your password</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input [(ngModel)]="email" label="Email" labelPlacement="floating" placeholder="Email"></ion-input>
        </ion-item>
        <ion-button color="success" size="full" (click)="sendEmail()">Send Email</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>